<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style/style.css"/>
        <title>Layout 2</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="/">LOGO</a>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">SOBRE</a></li>
                        <li><a href="">CONTATO</a></li>
                    </ul>
                </nav>
            </div> 
        </header>

        <main>
            <div class="container">
                <div class="hero">
                    <div class="box1"></div>
                    <div class="box1"></div>
                    <div class="box1"></div>
                </div>
            </div>

            <section>
                <div class="container">
                    <div class="principal">
                        <div class=box2></div>
                        <div class=box2></div>
                        <div class=box2></div>
                        <div class=box2></div>
                        <div class=box2></div>
                        <div class=box2></div>
                    </div>
                    <aside class="secundario">
                       <div class="box-secundario"></div>
                       <div class="box-secundario"></div>
                       <div class="box-secundario"></div>
                    </aside>
                </div>
            </section>
        </main>

        <footer>
            <div class="container">
               <div class="copy">      
                    <p>Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
</html>